@model IEnumerable<LoginForm.Models.UserInfo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Login.css">
    <title>Search</title>
</head>
<body>
    <div>
        <h1 style="color:navajowhite;">Search</h1>
        <br />
        <table width="1000px" style="color:navajowhite;font-size:20px" id="form" asp-action="Search" asp-controller="Home">
            <tr>
                <td>Full name</td>
                <td><input style="width:100%;font-size:20px" type="text" id="fullname" value="" /></td>
                <td>&nbsp &nbsp Address</td>
                <td><input style="width:100%;font-size:20px" type="text" id="address" value="" /></td>
            </tr>
            <tr>
                <td> Email</td>
                <td><input style="width:100%;font-size:20px" type="text" id="email" value="" onclick="validate();" /></td>
                <td>&nbsp &nbsp Cell phone number</td>
                <td><input style="width:100%;font-size:20px" type="text" id="tel" value="" /></td>
            </tr>
        </table>
        <span class="indicator"></span>
        <br />
        <input id="SearchButton" type="submit" value="Search" onclick="" />
        <input type="button" value="Log out" onclick="Search_ajax();" />
        <br /><br />
    </div>
    <br />
    <br />
   @Html.Partial("_SearchUserAsync",Model);
    <script>
        function validate() {
            const form = document.getElementById('form');
            const email = document.getElementById('email').value;

            var pattern = /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i

            if (email.match(pattern)) {
                form.classList.add('valid')
                form.classList.remove('invalid')
            } else {
                form.classList.add('invalid')
                form.classList.remove('valid')
            }
            if (email == "") {
                form.classList.remove('invalid')
                form.classList.remove('valid')
            }
        }


        function Search_ajax() {
            var fullname_v = $('#fullname').val();
            var address_v = $('#address').val();
            var email_v = $('#email').val();
            var tel_v = $('#tel').val();
            $.ajax({
                url: '@Url.Action("_SearchUserAsync", "Home")',
                dataType: 'html',
                contentType: 'application/html;charset=utf-8',
                type: 'GET',
                data: {
                    fullName : fullname_v,
                    addressString : address_v,
                    emailAddress : email_v,
                    cellPhoneNumber : tel_v
                },
                success: function (data) {
                    $('#data').fadeout().html(data).fadeIn();
                }
            });
        };
    </script>
</body>
</html>
