@model LoginProperties
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Login.css">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>Login form</h3>
        <form id="form" action="#">
   
            <div class="InputBox">

                @using (Html.BeginForm("LoginPage", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <label style="color:navajowhite;font-size:20px">Username:</label>
                    @Html.TextBoxFor(u => u.Username)
                    <br />
                    <label style="color:navajowhite;font-size:20px">Password:&nbsp;</label>
                    @Html.PasswordFor(p => p.Password)
                    <br />
                    <a href="Home/RegistrationForm"><input type="button" value="Create a new user" /></a>
                    <input id="Login" type="submit" value="Login" />
                }
            </div>
        </form>
    </div>
</body>
</html>